@{
	var currentController = ViewContext?.RouteData.Values["controller"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cosmos | Admin | @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Cosmos.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>

<body>
	<div class="container-fluid p-0 d-flex">
		<aside>
			<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
					<img src="~/images/logo-white.png" alt="Cosmos" class="image-fluid" />
				</a>
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
					<li class="nav-item">
						<a class="nav-link text-white @(currentController == "Games" ? "active" : "")" asp-area=""
							asp-controller="Games" asp-action="Index">
							<svg class="bi me-2" width="16" height="16">
								<use xlink:href="#home" />
							</svg>
							Games
						</a>
					</li>
					<li>
						<a class="nav-link text-white @(currentController == "Genres" ? "active" : "")" asp-area=""
							asp-controller="Genres" asp-action="Index">
							<svg class="bi me-2" width="16" height="16">
								<use xlink:href="#speedometer2" />
							</svg>
							Genres
						</a>
					</li>
					<li>
						<a class="nav-link text-white @(currentController == "Modes" ? "active" : "")" asp-area=""
							asp-controller="Modes" asp-action="Index">
							<svg class="bi me-2" width="16" height="16">
								<use xlink:href="#table" />
							</svg>
							Modes
						</a>
					</li>
					<li>
						<a class="nav-link text-white @(currentController == "Subscriptions" ? "active" : "")" asp-area=""
							asp-controller="Subscriptions" asp-action="Index">
							<svg class="bi me-2" width="16" height="16">
								<use xlink:href="#grid" />
							</svg>
							Subscriptions
						</a>
					</li>
					<li>
						<a class="nav-link text-white @(currentController == "Developers" ? "active" : "")" asp-area=""
							asp-controller="Developers" asp-action="Index">
							<svg class="bi me-2" width="16" height="16">
								<use xlink:href="#people-circle" />
							</svg>
							Developers
						</a>
					</li>
					<li>
						<a class="nav-link text-white @(currentController == "Publishers" ? "active" : "")" asp-area=""
							asp-controller="Publishers" asp-action="Index">
							<svg class="bi me-2" width="16" height="16">
								<use xlink:href="#people-circle" />
							</svg>
							Publishers
						</a>
					</li>
				</ul>
				<hr>
				<div class="dropdown">
					<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
						<strong>mdo</strong>
					</a>
					<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
						<li><a class="dropdown-item" href="#">New project...</a></li>
						<li><a class="dropdown-item" href="#">Settings</a></li>
						<li><a class="dropdown-item" href="#">Profile</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Sign out</a></li>
					</ul>
				</div>
			</div>
		</aside>
		<main role="main">
			<div id="top-bar" class="d-flex justify-content-between align-items-center">
				<h4 class="mb-0">Admin</h4>
				<ul class="d-flex justify-content-end align-items-center">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i
								class="fa-regular fa-envelope"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i
								class="fa-regular fa-circle-user"></i></a>
					</li>
				</ul>
			</div>
			<div class="container-fluid px-5 py-5">
				@RenderBody()
			</div>
			@* <div class="container-fluid copyright border-top text-muted text-center bg-light text-dark">
			&copy; 2023 - Cosmos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div> *@
		</main>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://kit.fontawesome.com/50d7773464.js" crossorigin="anonymous"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
