@model List<AdminMenuItem>
@{
	var currentController = ViewContext?.RouteData.Values["controller"]?.ToString();
}

<partial name="~/Views/Shared/Partials/Navigation/_SvgIconsPartial.cshtml" />

<ul class="nav nav-pills flex-column mb-auto">
	<li class="nav-item">
		@foreach (var adminMenuItem in Model)
		{
			<a class="nav-link text-white @(currentController == @adminMenuItem.Controller ? "active" : "")" 
				asp-controller="@adminMenuItem.Controller" asp-action="@adminMenuItem.Action">
				<svg class="bi me-2 nav-icon" width="16" height="16">
					<use xlink:href="@adminMenuItem.Icon" />
				</svg>
				@adminMenuItem.Label
			</a>
		}
</ul>