@model List<SidebarMenuItem>
@{
	var currentAction = ViewContext?.RouteData.Values["action"]?.ToString();
}

<ul class="sidebar-menu">
	@foreach (var filterMenuItem in Model)
	{
		<li>
			<h5>@filterMenuItem.Title</h5>
			<ul>
				@foreach (var subItem in filterMenuItem.SubMenuItems)
				{
					<li><a asp-controller="@subItem.Controller" asp-action="@subItem.Action"
							class="@(currentAction == @subItem.Action ? "sidebar-link-active" : "")">@subItem.Label</a>
					</li>
				}
			</ul>
		</li>
	}
</ul>