@model List<GameFilterMenuItem>
@{
	var currentAction = ViewContext?.RouteData.Values["action"]?.ToString();
}

<div class="card sidebar-card">
	<div class="card-header bg-brand-dark text-light">
		<h6 class="fw-bold">Game Filters</h6>
	</div>
	<div class="card-body">
		<ul class="sidebar-menu">
			@foreach (var filterMenuItem in Model)
			{
				<li>
					<h6>@filterMenuItem.Title</h6>
					<ul>
						@foreach (var subItem in filterMenuItem.SubMenuItems)
						{
							<li>
								<a href="@Url.Action("Index", "Products", 
							new { 
									subscription = subItem.Category == "subscription" ? subItem.Value : "all", 
									genre = subItem.Category == "genre" ? subItem.Value : "all", 
									mode = subItem.Category == "mode" ? subItem.Value : "all" 
								})">
									@subItem.Label
								</a>
							</li>
							@* <li><a asp-controller="@subItem.Controller" asp-action="@subItem.Action"
					class="@(currentAction == @subItem.Action ? "sidebar-link-active" : "")">@subItem.Label</a>
					</li> *@
						}
					</ul>
				</li>
			}
		</ul>
	</div>
</div>